extends ../node_modules/jade-bootstrap/layouts/starter

append additionalMeta
	meta(name='description', content="I'm Catherine Dunn and I can accommodate your adrenaline and fitness needs. I can take you road or mountain biking, or take you running on the many trails around Wellington, or do a workout in my boutique gym or the greater outdoors.")
append styles
	// Custom styles for this template
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

						a(class="navbar-brand", href="/") Adrenaline Fitness
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href="/") Home
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
									| Services
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='mountainbiking') Mountain Biking
									li
										a(href='offroadrunning') Off Road Running
									li
										a(href='personaltrainer') Personal Trainer
									li
										a(href='roadcycling') Road Cycling
									li
										a(href='raceprep') Race Preparation
									li
										a(href='bushwalks') Bush Walks
									li
										a(href='triathlon') Triathlon
							li
								a(href="about") About
							li
								a(href="contact") Contact
							li
								a(href="testimonials") Testimonials

	// Carousel
	// ==================================================
	+carousel("myCarousel",[{image:"../images/carousel1small.jpg 1000w, ../images/carousel1.jpg 2000w",h1:"Example headline"},{image:"../images/carousel2small.jpg 1000w, ../images/carousel2.jpg 2000w",h1:"Example headline"},	{image:"../images/carousel3small.jpg 1000w, ../images/carousel3.jpg 2000w",h1:"Example Headline."}, {image:"../images/carousel4small.jpg 1000w, ../images/carousel4.jpg 2000w",h1:"Example headline"}, {image:"../images/carousel5small.jpg 1000w, ../images/carousel5.jpg 2000w",h1:"Example headline"}])
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	.container.marketing
		// Three columns of text below the carousel
		.row
			.col-lg-4
				img.img-circle(src='../images/marketing1.jpg', alt='Image of Catherine Dunn in Bike Gear', width='140', height='140')
				h2 Professional Fitness
				p
					| Whether you are a local Wellingtonian or a visitor to our beautiful city I can accommodate your fitness and adrenaline needs. If you are staying in a hotel I can collect you, provide a bike and helmet and take you road or mountain biking, or take you running on the many trails around Wellington, or do a workout in my boutique gym or the greater outdoors.

				p
					a.btn.btn-default(href='#', role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing2.jpg', alt='Image of Catherine Dunn with Bike', width='140', height='140')
				h2 Heading
				p
					| If you want to reach your potential and achieve your fitness goals then I can help you do this. Whether you are an elite triathlete or want to compete your first mountainbike race I have the first hand experience and qualifications to help you achieve success.
				p
					a.btn.btn-default(href='#', role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing3.jpg', alt='Image of Catherine Dunn in Bike Gear', width='140', height='140')
				h2 Trails
				p
					| Perhaps you are a little unsure negotiating the trails by yourself? Let me help!
				p
					a.btn.btn-default(href='#', role='button') View details »
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Adrenaline Fitness ·
				a(href='about') About
				|  ·
				a(href='contact') Contact
